body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

#board {
    width: 300px;
    height: 300px;
    border: 5px solid #303030;
    background-color: #E0E0E0;
    margin: -80px auto 0;
    display: grid;
    grid-gap: 2px;
}

.tile {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
    border: 1px solid #CCCCCC;
    user-select: none;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition on hover */
}

.tile:hover {
    background-color: #D3D3D3; /* Darker background color on hover */
    border-color: #555555; /* Much darker border color on hover */
}

.tile-clicked {
    background-color: #A9A9A9;
}

.x1 {
    color: #0000FF;
}

.x2 {
    color: #008000;
}

.x3 {
    color: #FF0000;
}

.x4 {
    color: #000080;
}

.x5 {
    color: #8B4513;
}

.x6 {
    color: #008080;
}

.x7 {
    color: #000000;
}

.x8 {
    color: #808080;
}
/* Add styles for dark mode */
.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* Add hover effect for mode toggle button */
#mode-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999; /* Ensure the button appears above other content */
}
#go-back-button {
    left: 10px;
    z-index: 9999; /* Ensure the button appears above other content */
}

#flag-button, #restart-button{
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: #E0E0E0;
    border: none;
    margin: 10px;
    padding: 10px 15px;
    font-size: 24px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

#flag-button:hover, #restart-button:hover, #go-back-button:hover {
    background-color: #D3D3D3; /* Darker background color on hover */
}

#score-counter {
    font-size: 24px;
}

#final-score {
    font-size: 24px;
    margin-top: 20px;
}

#difficulty-container {
    margin-bottom: 10px;
    margin-top: -60px; /* Add this to move the difficulty container up by 20px */
}

#difficulty-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#difficulty-container.hidden {
    display: none;
}

#difficulty-container button:hover {
    background-color: #D3D3D3; /* Darker background color on hover */
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* New line */
}

.user-info-left {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Add margin to the right of the user photo */
}

#user-score {
    color: yellow;
    text-align: right; /* Align the score text to the right */
    text-shadow: -1px -1px 0 #000,
                  1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000; /* Black outline */
}


.user-photo {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    border-radius: 50%; /* Make it round */
    object-fit: cover; /* Ensure the image covers the entire area */
}
#user-id {
    font-size: 14px;
    text-align: center;
    visibility: hidden; position: absolute;
}